@page
@model RazorPages.Pages.Users

@{
    ViewData["Title"] = "Users";
}

<form method="post">
    <div class="form-group">
        <label asp-for="User.Username"></label>
        <input asp-for="User.Username" type="text"/>
    </div>
    <div class="form-group">
        <label asp-for="User.Email"></label>
        <input asp-for="User.Email" type="text"/>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>